*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
/_build/
/biokepi_tests
/setup.data
/setup.log
/setup.ml
/biokepi
/test_biokepi
_oredoc/
biokepi.docdir
/_apidoc/*
biokepi-demo
biokepi-hla-typer
biokepi-test-all-downloads
biokepi-tests
/biokepi-tests.byte
.merlin
.ocamlinit
biokepi-demo.byte
biokepi-edsl-input-json.byte
biokepi-hla-typer.byte
biokepi-input-generator.byte
biokepi-test-all-downloads.byte
biokepi-test-ttfi-pipeline.byte
