*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
/_build/
/biokepi_tests
/setup.data
/setup.log
/setup.ml
/biokepi
/test_biokepi
_oredoc/
biokepi.docdir
/_apidoc/*
.omakedb
.omakedb.lock
OMakeroot.omc
biokepi-demo
biokepi-hla-typer
biokepi-test-all-downloads
biokepi-tests
tools/OMakeLibrary.omc